/*
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Global */
* {
    box-sizing: border-box;
}
body {
    font: .9rem/1.2 Roboto, Arial, Helvetica, sans-serif;
    display:flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightgray; 
    background:url(../assets/img/solar-system.png) no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
    background-size: cover;
}

header {
    width: 100vw;
}

.name {
    font-size: .7rem;
}

/* logo */
.logo,
.logoArea {
    width: 15vw;

}
#boxes{
    background-color: black;
}
.planetBox {
    min-width: 100vw;
    background-color: black;
}


.newsletter,
.planetBox,
.quadBox,
.dblBox {
    display:flex;
}

.quadBox,
.dblBox,
.planetBox {
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 30px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

/* Header **/

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 1rem 0rem 1rem;
    background: rgb(192, 187, 187);
    color: #ffffff;
    border-bottom: #e8491d .3rem solid;
    font-size: 1rem;
    
}

.name {
    display:flex;
}

.highlight {
    color: #D85214;
    font-weight: bold;
}


/* Navigation */

.navbar {
    border-bottom: #e8491d .3rem solid;
}

/* main */
.main {
    display:flex;
    flex-direction: column;
    width: 100vw;
    margin: auto;
    justify-content: space-between;
    background:url(../assets/img/solar-system.png) no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
    background-size: cover;
}

.intro {
    min-height: 34vh;
    padding: 1rem;
    margin: 0;
    color:#ffffff;
}
.solarVid {
    display:flex;
    justify-content: center;
    align-items: center;
    max-height: 60vh;
}

/* Newsletter */

.newsletter {
    display:flex;
    padding: 2rem;
    color: #ffffff;
    background: #040313;
    border-top: #e8491d 3px solid;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
    padding-left: 2rem;

}

.newsletter h1 {
    float: left;
}

.newsletter form {
    float: right;
    margin-top: 15px;
}

.newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}


/* Boxes */
 .boxes,
 .quadBox,
 .dblBox,
 .planetBox {
     margin: 0;
     padding: 0;
 }
.picz {
    max-width: 80%;
}


.planetBox {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#fff;
    background-color: #000;
    max-width: 200px;
}

footer {
    padding:3em;
    color: #ffffff;
    background-color: #D85214;
    text-align: center;
    width: 100%;
    padding:.5rem;
}

/*   nth   */
#cell:nth-of-type(1){
    justify-content: center;
    align-items: center;
}

#cell:nth-of-type(even){
    font-size: .9em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: center;
    color: rgb(246, 250, 7);
  }

#cell:nth-of-type(3){
    font-size: .8em;
    justify-content: center;
    align-items: flex-start;
    color: rgb(243, 117, 212);
}




