/*
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Global */
* {
    box-sizing: border-box;
}
body {
    font: 1.1rem/1.2 Roboto, Arial, Helvetica, sans-serif;
    display:flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    flex-direction: column;
    background-color: #d3dad6; 
    width:100%;
}

#joe {
    background:url(../assets/img/solar00.png) no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
}

#logo {
    max-width: 40%;
}


#newsletter,
.section,
.planetBox,
.quadBox,
.dblBox {
    display:flex;
}

.quadBox,
.dblBox,
.planetBox {
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

/* Header **/

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #ffffff;
    border-bottom: #e8491d .5rem solid;
    width:100%;
    font-size: 2rem;
}


.highlight {
    color: #D85214;
    font-weight: bold;
}


/* Navigation */

.navbar {
    border-bottom: #e8491d .5rem solid;
}

/* main */
.main {
    display:flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    
}

#intro {
    min-height: 34vh;
    padding: 1rem;
    margin: 0;
    color:#ffffff;
}

.solarVid {
    display:flex;
    justify-content: center;
    align-items: center;
    max-height: 60vh;
}

/* Newsletter */

#newsletter {
    display:flex;
    padding: 2rem;
    color: #ffffff;
    border-top: #e8491d 3px solid;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
    padding-left: 2rem;

}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}


/* Boxes */
 #boxes,
 .quadBox,
 .dblBox,
 .planetBox {
     margin: 0;
     padding: 0;
 }
.picz {

}


.planetBox {
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    color:#fff;
}

footer {
    padding:3em;
    color: #ffffff;
    background-color: #D85214;
    text-align: center;
    width: 100%;
    padding:.5rem;
}

/*   nth   */
#cell:nth-of-type(1){
    justify-content: center;
    align-items: center;
}

#cell:nth-of-type(even){
    font-size: .9em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: center;
    color: rgb(246, 250, 7);
  }

#cell:nth-of-type(3){
    font-size: .8em;
    justify-content: center;
    align-items: flex-start;
    color: rgb(243, 117, 212);
}

/* Media Queries */
@media(min-width: 768px) {
    .planetBox {
        flex-direction: column;
        padding: 1em;
    
    }
    .dblBox {
        display:flex;
        flex-direction: row;
    }
    .picz {
        max-width: 80%;
    }
    
    
    
}

@media(min-width: 1080px) {
    
    .quadBox {
        flex-direction: row;
    }
    .planetBox {
        padding: 1em;
    }
    #boxes {
        margin-top: 1em;
    }
.picz {
    max-width: 80%;
}
#logo {
    max-width: 20%;
    
}

@media(min-width: 1440px) {
  body {
      width: 90%
  }
  header, 
  .navbar,
  .main,
  #intro,
   {
      padding: 1rem;
  }
#logo {
    max-width: 40%;
}
   
header {
    flex-direction: row;
}
  
  .main {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  
  #intro {
      width: 50%;
  }
  .solarVid {
      width: 50%;
  }
    
#boxes,
.quadBox,
.dblBox {
    display:flex;
    flex-direction: row;
}
.planetBox {
    height: 22vw;
    justify-content: space-between;
}

body {
        justify-content: center;
        width: 90%;
        margin:auto;
    }

.picz {
    max-width: 90%;
}
}