@media(min-width: 769px) {
    .flex-banner{
        justify-content: space-evenly;
    }
    .flex-mastermain{
        flex-direction: row;
    }


    .flex-video{
        display:flex;
        width:40vw;
        padding:10px sold #333;
    }

}