@media(min-width: 1081px) {
  .flex-main-3{
    display:flex;
    align-items: center;
    min-height:1fr;
    width: 33vw;
    min-height: 475px;
    background:url(../assets/img/sky-watching.png) no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
    background-size: cover;
    border-bottom: 5px solid #e8491d;
  }
  .flex-master-main-three{
      display:flex;
  } 
    
  .flex-main-1{
    display:flex;
    align-items: center;
    min-height:1fr;
    width: 33vw;
    min-height: 475px;
    background:url(../assets/img/missions.png) no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
    background-size: cover;
    border-bottom: 5px solid #e8491d;
  }
  .flex-master-main-two{
    display:flex;
  }
  .flex-main-2{
    display:flex;
    align-items: center;
    min-height:1fr;
    width: 33vw;
    min-height: 475px;
    border:#8b59e7 5px solid;
    background:url(../assets/img/galaxy.png) no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
    background-size: cover;
    border-bottom: 5px solid #e8491d;
    .flex-main-3{
      display:flex;
      align-items: center;
      min-height:1fr;
      width: 50vw;
      min-height: 475px;
      background:url(../assets/img/sky-watching.png) no-repeat;
      background-position: center center;
      /*background-attachment: fixed;*/
      background-size: cover;
      border-bottom: 5px solid #e8491d;
    }
}