@media(min-width: 1601px) {
    .flex-main
        {
        width:30vw;
        height:70vh;
        }
    .flex-mastermain
        {
        display:row;
        flex-wrap:nowrap;            
            }
        .flex-mastermain
            {
            display:row;
            flex-wrap:nowrap;            
                }
            }