@media(min-width: 1601px) {
  body {
      max-width: 80%;
      max-height: 100%;
  }
  header, 
  .navbar,
  .main,
  .intro
   {
      padding: .5rem;
  }
.macLogo {
    display:flex;
    flex-direction: column;
}
.logo {
    max-width: 20%;
}
   
header {
    flex-direction: row;
    padding: 2rem;
    max-height: 10%;
    justify-content: space-between;
    max-width: 800px;
    margin-top: 2rem;
}
  
  .main {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  
  .intro {
      width: 50%;
  }
  .solarVid {
      width: 50%;
  }
    
.boxes,
.quadBox,
.dblBox {
    display:flex;
    flex-direction: row;
}
.planetBox {
    
    justify-content: space-between;
}

body {
        justify-content: center;
        align-items: center;
        width: 90%;
        margin:auto;
    }

.picz {
    max-width: 90%;
}
}