@media(min-width: 1601px) {
    <!--GRID-->
    .grid-container {
        display:grid;
        grid-gap: 1em;
        grid-template-columns: auto auto auto;
        grid-template-rows: 12em 1fr;
    }
    grid-template-areas:
        'banner banner'
        'nav main'
        'nav footer'
        ;
    
    header {
        grid-area: header;
        grid-column: span 2;
    }
    grid-gap {
        background-color: red;
    }
    nav {
        grid-area: nav;
        grid-row: span 2;
    }
    

    
  body {
      max-width: 90vw;
      
  }
  header, 
  .navbar,
  .main,
  .intro
   {
      padding: .5rem;
  }
.macLogo {
    display:flex;
    flex-direction: column;
}
.logo {
    max-width: 20%;
}
   
header {
    flex-direction: row;
    padding: 2rem;
    max-height: 10%;
    justify-content: space-between;
    margin-top: 2rem;
}
  
  .main {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  
  .intro {
      width: 50%;
  }
  .solarVid {
      width: 50%;
  }
    
.boxes,
.quadBox,
.dblBox {
    display:flex;
    flex-direction: row;
}
.planetBox {
    
    justify-content: space-between;
}

body {
        justify-content: center;
        align-items: center;
        margin:auto;
    }

.picz {
    max-width: 90%;
}
}